@using Newtonsoft.Json
@model WebApp.Models.ViewModels.HomeVM

<form method="post">
    <div class="container">
        <div class="text-center">
            <button asp-action="IndexPost" type="submit" name="category" value="all" class="btn btn-dark shadow-button">
                All
            </button>
            @foreach (var obj in Model.Categories)
            {
                <button asp-action="IndexPost" type="submit" name="category" value="@obj.Name" class="btn btn-outline-secondary shadow-button">
                    @obj.Name
                    <input type="hidden" name="JsonHomeVM" value="@JsonConvert.SerializeObject(Model)">
                </button>
            }
           
        </div>
        <br />
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <partial name="_IndividualProductCard" model="product" />
            }
        </div>
    </div>
</form>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('button[name="category"]').click(function() {
                $('form').submit();
            });
        });
    </script>
    <style>
        .shadow-button {
            transition: transform 0.3s, box-shadow 0.3s;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .shadow-button:hover {
            transform: translateY(-3px);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3), 0 4px 12px rgba(0, 0, 0, 0.15);
        }
        .search-input-container {
            flex-grow: 1;
          }
        .smaller-search {
        width: 200px; /* Задайте нужную ширину */
        }
    </style>
}